<br><br>



<div ng-controller="ContactsCtrl" id="contacts_div">

<!--<p style='text-align:center;font-weigh:bold;'>{{message}}</p>-->

<table border="1" style="border-color:black; border-collapse:collapse; border-bottom:black 1px solid" ng-controller="ContactsCtrl">
    <thead><tr><td>first name</td><td>last name</td><td>phone number</td></tr></thead>
		
    <tbody id="contactsTable">
		<tr ng-repeat="contact in contacts">
			<td>{{contact.firstName}}</td>
			<td>{{contact.lastName}}</td>
			<td>{{contact.phoneNumber}}</td>
			<td><button ng-click="$parent.rmContact(contact.id)" 
						style="background:white; cursor:pointer; border:solid 0px white;" 
						type="button">
					<img ng-click="rmContact('{{contact.id}}')" 
						onmouseover="this.style.cursor='pointer'" 
						onmouseout="this.style.cursor='default'" src="/images/del.png"/>
				</button>	
				
			</td>
			<td>
					<button ng-click="openEditDialog(contact)" 
						style="background:white; cursor:pointer; border:solid 0px white;" 
						type="button">			
						<img ng-click="openEditDialog({{contact}})" 
							onmouseover="this.style.cursor='pointer'" 
							onmouseout="this.style.cursor='default'" src="/images/edit.png"/>
					</button>
			</td>
		</tr>	
    </tbody>

</table>   
             
<br>
<br>
	
<button class="btn btn-primary" ng-click="openAddDialog()">Add Contact</button>	
    
</div>
<div id="waiting_div" >



<canvas class="sonic" height="100" width="100" title="Click to pause"></canvas>

<script>

function drawFlame(color, px, py, radius) {
    this._.fillStyle = color;
	this._.beginPath();
	this._.arc(
		px, py,
		radius, 0,
		Math.PI*2, false
	);
	this._.closePath();
	this._.fill();
}

sonic = new Sonic({
			
	width: 100,
	height: 100,

	stepsPerFrame: 4,
	trailLength: 0.8,
	pointDistance: 0.01,
	fps: 20,

	backgroundColor: 'transparent',

	path: [
		['arc', 60, 60, 30, 0, 360]
	],

	step: function(point, index, frame) {

		var sizeMultiplier = 10;
        var radius = sizeMultiplier * (index > 0.5 ? 1-index : index);
        
        drawFlame.call(this, '#FF6C08', point.x*index, point.y, radius);
        drawFlame.call(this, '#FFD341', point.x, point.y*index, radius);
        drawFlame.call(this, '#FF3000', point.x, point.y, radius);

	}

});
sonic.play();

//$("#waiting_div").appendChild(sonic.canvas);

document.getElementById('waiting_div').appendChild(sonic.canvas);

//document.body.appendChild(sonic.canvas);

</script>
</div>

